html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-size: 16px;
  background-color: #efefef;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 100px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.container {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

header {
  grid-area: header;
  background-color: white;
  border-bottom: 1px;
  border-bottom-color: #f3735f;
  height: 80px;
}

main {
  grid-area: main;
  margin: 50px;
}

footer {
  grid-area: footer;

  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.baseline {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #6c6c6c;
  text-align: center;
}

p {
  line-height: 22px;
  margin-bottom: 10px;
}

h1 {
  font-size: 50px;
  font: bold;
  color: #393c6c;
  text-align: center;
}

h2 {
  color: #f3735f;
  margin: 70px 0px 20px 0px;
  font-size: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
}

#logo {
  width: 200px;
  height: 31.47px;
}

section {
  background-color: white;
  padding: 30px 60px 30px 60px;
  border-radius: 10px;
  /* height: 1179px; */
}

.text-haut {
  text-align: center;
}
.temps {
  height: 45px;
  background: #8a98b1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img1,
.img2,
.img3 {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #393c6c;
}

.preparation > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: justify;
}

li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  list-style: inside;
  color: #6c6c6c;
}

@media screen and (max-width: 959px) {
  .container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .img1,
  .img2,
  .img3 {
    width: 250px;
    height: 250px;
    border-radius: 8px;
    margin: 3px;
  }
  .temps {
    width: 300px;
  }
  h1 {
    font-size: 30px;
    font: bold;
    color: #393c6c;
    text-align: center;
  }
  .baseline {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #6c6c6c;
    text-align: center;
  }
  #logo {
    width: 150px;
    height: 31.47px;
  }

  section {
    background-color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    /* height: 1179px; */
  }

  p {
    line-height: 12px;
    margin-bottom: 8px;
  }
}
